/*Estilos generales*/
:root {
    --primario: #e23939;
    --gris-claro: #B8B8B8;
    --sombra: 0 0 13px 0 rgba(185,185,185, .25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

/*Icono antes del título */
.tCat::before {
    content: "\1F4F7";
    color: #ffc300;
    margin-right: 1px;
}

/*Icono después del título */
.tCat::after {
    content: "\1F697";
    color: #ffc300;
    margin-right: 1px;
}

/*Estilo para el título*/
.tCat {
    text-align: center;
    color: #ffc300;
    font-size: 30px;
}

/*Contenedor de todo los paquetes*/
.contenedor-paquetes{
   grid-template-columns: repeat(auto-fit, minmax(280px,280px));
    display: grid;
    max-width: 1100px;
    justify-content: center;
    margin: auto;
    gap: 20px;
    padding-bottom: 50px;
    padding: 20px;
    column-count: 3;
    grid-auto-rows: 1fr;
}

/*Estilo para cada paquete*/
.tour {
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 /20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
    padding: 20px;
}

.tour img {
    width: 100%;
    height: 170px;
}

.info {
    padding: 15px;
}

.info h2 {
    font-size: 1.6rem;
}

.info p {
    font-size: 1.5rem;
}

.precio {
    display: flex;
}

.info h2, .info p {
    color: #222;
    margin-bottom: 15px;
}

/*Botón*/
.info button {
    padding: 1rem;
    width: 100%;
    background-color: #085394;
    border: none;
    outline: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

/*Estilo para el botón cuando se pasa el mouse*/
.tour button:hover {
    background-color: #2da0c3;
    transition: all .3s;
}
